* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-color: rgb(241, 241, 241);
  display: initial;
  font-family: poppins;
}
header {
  position: fixed;
  padding: 0.5rem;
  text-align: center;
  width: 100vw;
  height: auto;
  font-family: poppins;
  font-weight: 900;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(15, 15, 15);
  background-color: rgba(255, 255, 255, 0.842);
}
header img {
  margin: 1rem;
  height: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

#add {
  position: fixed;
  text-align: center;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 7rem;
  height: 7rem;
  font-weight: 100;
  font-size: 6rem;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: #eab32c;
}

.conrtainer {
  width: max-content;
  width: 100vw;
  min-height: 100vh;
  padding-top: 7rem;
  background-color: #eceae5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}
*::-webkit-scrollbar {
  display: none;
}
#allNote {
  /* background-color: rgb(209, 61, 61); */
  /* padding: 1px; */
  display: flex;
  align-items: flex-start;
  justify-content: right;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 56rem;
  min-height: 2rem;
  height: calc(100vh - 7rem);
  overflow-y: scroll;
  transition: .3s;
  background: transparent;
}
.note {
  width: 26rem;
  /* max-width: 30rem; */
  height: 30rem;
  overflow: hidden;
  background: rgb(255, 255, 255);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 0.5rem;
  transition: .3s;
}
.title {
  height: 20%;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
}
.title > h2 {
  height: 4.4rem;
  width: 80%;
  line-height: 2.2rem;
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#installApp{
  POSITION: ABSOLUTE;
  top: 20rem;
  font-size: 3rem;
  padding: 1rem;
  color: white;
  background: black;
}
.delete {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.delete:hover {
  background-color: #fff5db;
}
.delete svg {
  height: 100%;
  width: 100%;
  /* background-color: white; */
}
.written {
  width: 100%;
  height: 80%;
  overflow: hidden;
  padding: 1.4rem;
}
.writeUP {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: nunito;
  overflow: hidden;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  height: 95%;
}

.main {
  /* background-color: rgb(78, 209, 61); */
  background: #fff;
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-grow: 1;
  height: calc(100vh - 9rem);
  max-width: 86rem;
}

#main__{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  color: #eab42c94;
}




















.notePanel2 {
  text-align: left;
}
#Nname {
  font-size: 2rem;
  outline: none;
  border: none;
  margin: 3rem 3rem 3rem 3rem;
  letter-spacing: 0.2rem;
}
.Nname {
  font-size: 2rem;
  outline: none;
  border: none;
  margin: 3rem 3rem 3rem 3rem;
  /* letter-spacing: .2rem; */
}
textarea {
  resize: none;
  border: none;
  outline: none;
  margin: 1rem 3.2rem;
  /* letter-spacing: .0005rem;
  word-spacing: .001rem; */
}
/* #createbtn , #cnlbtn{

} */
.svg {
  width: 1.5rem;
  margin: 0;
  fill: rgb(0, 0, 0);
}
#buttons {
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: white;
  border: none;
}
































.notePanel {
  text-align: left;
}
.notePanel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 99;
  border: 0;
  display: flex;
  flex-direction: column;
  
}
.Nname {
  font-size: 2rem;
  outline: none;
  border: none;
  /* margin: 3rem 3rem 3rem 3rem; */
  /* padding: 2rem; */
  font-family: nunito;
  text-align: left;
  letter-spacing: 0;
  font-size: 2.4rem;
  font-weight: 800;
}
#Nname {
  font-size: 2rem;
  outline: none;
  border: none;
  /* margin: 3rem 3rem 3rem 3rem; */
  /* padding: 2rem; */
  font-family: nunito;
  text-align: left;
  letter-spacing: 0;
  font-size: 2.4rem;
  font-weight: 800;
}
.notepera {
  font-size: 1.6rem;
  outline: none;
  padding: 3rem;
text-align: left;
}
#times {
  background-color: rgba(255, 213, 0, 0.24);
  padding: 0.5rem 1rem;
  width: max-content;
  margin: 0.5rem 3rem;
  border-radius: 2rem;
  color: rgb(236, 197, 38);
  font-size: 1.1rem;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  margin: 1rem 3.2rem;
  font-family: nunito;
  font-size: 1.6rem;
  letter-spacing: 0;
}

.svg {
  width: 1.5rem;
  margin: 0;
  fill: rgb(0, 0, 0);
}
#buttons {
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: white;
  border: none;
}











/* MAIN CHANGE HERE */
@media screen and (max-width: 1400px) {

  .main {
    max-width: 62rem;
  }
  #allNote {
    width: 35%;
    min-width: 34%;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

/* MAIN CHANGE HERE */
@media screen and (max-width: 560px) {
  #main__{
    display: none;
  }
  html {
    font-size: 7px;
  }

  header {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    position: fixed;
    padding: 0.5rem;
    text-align: center;
    width: 100vw;
    height: max-content;
    font-family: poppins;
    font-weight: 900;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 99;
  }
  header div {
    margin: 1rem;
    height: 4rem;
  }
  header div > img {
    height: 100%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .conrtainer {
    width: 100vw;
    height: auto;
  }
  #add {
    position: fixed;
    text-align: center;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 7rem;
    height: 7rem;
    font-weight: 100;
    font-size: 6rem;
    border: 0;
    border-radius: 50%;
    color: white;
    background-color: #eab32c;
  }
  .notePanel {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* width: 100vw; */
    /* height:; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    border: 0;
    display: flex;
    flex-direction: column;
    /* padding: 5rem 5rem; */
  }
  .notePanel2 {
    text-align: left;
  }
  #Nname {
    font-size: 2rem;
    outline: none;
    border: none;
    margin: 3rem 3rem 3rem 3rem;
    letter-spacing: 0.2rem;
  }
  .Nname {
    font-size: 2rem;
    outline: none;
    border: none;
    margin: 3rem 3rem 3rem 3rem;
    /* letter-spacing: .2rem; */
  }
  textarea {
    resize: none;
    border: none;
    outline: none;
    margin: 1rem 3.2rem;
    /* letter-spacing: .0005rem;
    word-spacing: .001rem; */
  }
  /* #createbtn , #cnlbtn{
  
  } */
  .svg {
    width: 1.5rem;
    margin: 0;
    fill: rgb(0, 0, 0);
  }
  #buttons {
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    background-color: white;
    border: none;
  }



  #allNote {
    padding: 1px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 51rem;
    margin: auto;
  }
  .note {
      min-width: 22rem;
      width: 23rem;
      height: 26rem;
      overflow: hidden;
      background: rgb(255, 255, 255);
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      border-radius: 0.5rem;
  }
  #alerts {
    position: static;
    background-color: rgba(255, 213, 0, 0.24);
    padding: 0.5rem 1rem;
    width: max-content;
    margin: auto;
    border-radius: 2rem;
    color: rgb(236, 197, 38);
    font-size: 1.1rem;
  }
  .writeUP {
    -webkit-line-clamp: 7;
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 
  .written {
    margin: 0.6rem;
  }
  .notepera {
    /* margin: 1rem 3.2rem; */
    font-size: 1.3rem;
    outline: none;
  }

  #times {
    /* position: static; */
    background-color: rgba(255, 213, 0, 0.24);
    padding: 0.5rem 1rem;
    width: max-content;
    margin: 0.5rem 3rem;
    border-radius: 2rem;
    color: rgb(236, 197, 38);
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 6px;
  }
}
